<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace : 외부에서 접근할때  -->
<mapper namespace="cus">		




<!-- 
	id :외부에서 접근할 때 클래스의 이름을 주는 것 처럼 접근할 이름을 지정 test.selectTest 라고 외부에서 접근하면 아래 태그실행
	resultType : 클래스 타입을 적어준다. 
	-->
  <!-- ★★★조회쿼리 작성시에 세미콜론 생략한다 -->
  <select id="listselect" resultType="customer.CustomerDTO">		<!-- customer패키지에 CustomerDTO 가 resultType -->
    	SELECT * FROM CUSTOMER
  </select>
  <insert id="insert">
  	insert into customer (name, email, phone, gender)
	values (#{name},#{email},#{phone},#{gender})		<!-- DTO에있는 name필드 뺴오는 경우는 #{name} 이런식임 -->
  </insert>
  
  <update id="update">
  	update customer
  	set name= #{name}, email= #{email}, phone= #{phone}, gender= #{gender}
  	where id= #{id} 
  </update> 
  
  <!-- 다른 쿼리 필요하면 select태그를 추가해서 하면된다. -->
  
  
</mapper>