<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cus"><!-- 외부에서 접근할때 어떤 이름으로 접근을 할건지를 지정해놓은 부분-->


	<!-- 조회쿼리 작성시 ( jdbc ; <- 생략) 생략 -->
  <select id="listselect" resultType="customer.CustomerDTO">
    select * from customer
  </select>
	<insert id="insert">
		INSERT INTO customer (name, email, phone, gender)
		values  (#{name},#{email},#{phone},#{gender})
	
	</insert>
	
	<update id="listUpdate">
	UPDATE CUSTOMER
	set name = #{name},
	email = #{email},
	phone = #{phone},
	gender = #{gender}
	where  id = #{id}
	
	</update>
<!--   <select id="listselect" resultType="customer.CustomerDTO"> -->
<!--     select * from customer -->
<!--   </select> -->
</mapper>