<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp">
  <select id="list" resultType="Emp.EmpDTO">
	SELECT  rownum no, e.employee_id , e.last_name || ' ' || e.first_name name, e.email, NVL(TO_CHAR(e.department_id),'정보없음') department_id,
        e.phone_number, NVL(TO_CHAR(d.department_name),'정보없음') department_name, NVL( TO_CHAR(c.country_name || ' ' || l.state_province || ' ' ||
        l.city  || ' ' || l.street_address || ' ' || l.postal_code), '정보없음') address, NVL(TO_CHAR(m.부서최대급여),'정보없음') salary_max,
        NVL(TO_CHAR(m.부서최소급여),'정보없음') salary_min, NVL(TO_CHAR(ROUND(m.부서평균급여,2)),'정보없음')salary_avg
	FROM    employees e left outer join departments d
	ON      e.department_id = d.department_id
	left outer join     locations l
	ON      d.location_id = l.location_id 
	left outer join countries c
	ON      l.country_id = c.country_id
	LEFT OUTER JOIN (SELECT department_id, MAX(salary) 부서최대급여 , MIN(salary) 부서최소급여 , AVG(salary) 부서평균급여 FROM employees GROUP BY department_id) m
	ON       e.department_id = m.department_id
  </select>
</mapper>

