<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hr">
  <select id="listselect" resultType="hr.HrDTO">
    SELECT  e.employee_id , e.first_name || ' ' || e.last_name AS name, e.email , e.PHONE_NUMBER , d.department_name , 
			c.country_name ||' '|| l.city ||' '|| l.street_address || ' ' || l.postal_code AS address, m.max_sal, m.min_sal, m.avg_sal
	FROM    employees e LEFT OUTER JOIN departments d 
	ON      e.department_id = d.department_id LEFT OUTER JOIN locations l
	ON      d.location_id = l.location_id LEFT OUTER JOIN countries c
	ON      l.country_id = c.country_id LEFT OUTER JOIN (SELECT department_id, MAX(salary) AS max_sal , MIN(salary) AS min_sal , ROUND(AVG(salary),2) AS avg_sal FROM employees GROUP BY department_id) m
	ON      e.department_id = m.department_id
  </select>
</mapper>