<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp"><!-- 외부에서 접근할때 어떤 이름으로 접근을 할 건지 지정해놓은 부분 -->
  
  <select id="listEmployee" resultType="employee.EmployeeDTO">
  	select rownum no, e.employee_id, e.first_name || ' '|| e.last_name name, e.email, 
       case when d.department_id is null then '정보없음' else TO_CHAR(d.department_id) end department_id,
       e.phone_number phone_number,
       case when d.department_name is null then '정보없음' else TO_CHAR(d.department_name) end department_name,
       c.country_name || ' ' || l.state_province || ' ' || l.city || ' ' || l.street_address || ' ' || l.postal_code address,
       case when s.max_sal is null then '정보없음' else TO_CHAR(s.max_sal) end max_sal,
       case when s.min_sal is null then '정보없음' else TO_CHAR(s.min_sal) end min_sal,
       case when s.avg_sal is null then '정보없음' else TO_CHAR(s.avg_sal) end avg_sal,
       case when d.department_id is null then '정보없음' else TO_CHAR(d.department_id) end department_id_1    
	from employees e left outer join departments d 
	on e.department_id = d.department_id 
	left outer join locations l 
	on d.location_id = l.location_id 
	left outer join countries c 
	on c.country_id = l.country_id 
	left outer join (select department_id, max(salary) max_sal, min(salary) min_sal, round(avg(salary)) avg_sal from employees group by department_id ) s 
	on e.department_id = s.department_id
  </select>
</mapper>